{% extends "beige/dashboard.html" %}

{%block title%}<title>Payment| Make Payments</title> {%endblock title%}


{% block content %}

<div class="panel panel-danger">
  <!-- Default panel contents -->
  <div class="panel-heading">New Transaction</div>
  <div class="panel-body">
  {% ifnotequal is_allowed '' %}
  <div class="alert alert-danger fade in"> You Don't Permission to perform this transaction! contact System Administrator</div>
  
  {% endifnotequal %}
  <h4> <font color= "grey">Account Name : </font> {{student_.fullnameC}}</h4>
  <h4> <font color= "grey">System ID : </font> {{student_.studentID}}</h4>
   <h4> <font color= "grey">School : </font> {{student_.schoolID.schoolName}}</h4>
  
 <form class="form-horizontal" role="form" action="." method="post">
   
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Fees Type</label>
    <div class="col-sm-6">
   <select class="form-control" name="fee" {% ifnotequal is_allowed '' %} disabled {% endifnotequal %} >
   <option value="0" selected="selected" disabled>-Select-</option>
   {% ifnotequal fees|length 0 %}
   {% for c in fees %}
 <option value="{{c.Name}}">{{c.Name}} || {{c.expected_amount}} </option>
{% endfor %}  
 {% else %}
  {% for c in fees_all %}
 <option value="{{c.name}}">{{c.name}}  </option>
{% endfor %}  
 {% endifnotequal %}
   </select>
    </div>
  </div>
  <div class="form-group">
  {{amount_error}}
    <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>
    <div class="col-sm-6"> {% ifequal amount_error '' %} <font color="red">field required *</font> {% endifequal %}
      <input type="number" step="any" name="amt" class="form-control" {% ifnotequal is_allowed '' %} disabled {% endifnotequal %}  placeholder="Amount">
    </div>
  </div>
  <div class="form-group">
  
    <label for="inputEmail3" class="col-sm-2 control-label">Payment By</label>
    <div class="col-sm-6"> 
      <input type="text"  name="paid" class="form-control" {% ifnotequal is_allowed '' %} disabled {% endifnotequal %}  placeholder="Enter Name">
    </div>
  </div>
  <div class="form-horizontal">
    {% for field in form %}
    {{field.label_tag}}
    <font color="red">{{field.errors}}</font>
    {{field}} </br> </br>
    
    {% endfor %}
  </div>

<button class="btn btn-lg btn-primary btn-block" name="preConfirm" type="submit" value="preConfirm" {% ifnotequal is_allowed '' %} disabled {% endifnotequal %}  style="width:150px;">Submit</button>
</form>


</div>
</div>
{{popup}}

{% ifnotequal popup '' %}

{{popup}}
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Payment</h4>
      </div>
      <div class="modal-body">
        <p>Confirm Fees for <br>
        ID : {{student_.studentID}}<br>
        Fullname : {{student_.fullnameC}}<br>
        Fee Type : {{getFee}}<br>            
        Amount :  <h1 style="color:red;">GHS {{getAmt}}</h1>
        
        
        
        
        
        </p>
      </div>
      <div class="modal-footer">
      <form class="form-horizontal" role="form" action="." method="post">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" name="Confirm" value ="Confirm" class="btn btn-primary">Confirm Payment</button>
      </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

     {% endifnotequal %}

{% endblock %}
