{% extends "beige/dashboard.html" %}

{%block title%}<title>Payment|Search Student</title> {%endblock title%}


{% block content %}

<div class="panel panel-danger">
  <!-- Default panel contents -->
  <div class="panel-heading">New Transaction</div>
  <div class="panel-body">
 <form class="form-horizontal" role="form" action="/beige/st-search/" method="GET">
 
 
 <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">School</label>
    <div class="col-sm-6"> 
<select class="form-control"  name="school">
  <option selected="selected" disabled >-Select School-</option>
   {% for sch in schools %}
 <option value="{{sch.schoolName}}">{{sch.schoolName}} </option>
{% endfor %}
   </select>  
  </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Student ID</label>
    <div class="col-sm-6">
      <input type="text" name="q" class="form-control"  placeholder="Search by Student ID">
    </div>
  </div>
 <button class="btn btn-lg btn-danger btn-block" style="width:200px; margin-left:410px; margin-top:-80px;" type="submit" value="">Find Student </button>
</form>
 
</div>
</div>

{% endblock %}



